#grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "secondary-content"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

header{
    grid-area: header;
}
aside{
    grid-area: aside;
}
main{
    grid-area: main;
}

.secondary-content{
    grid-area: secondary-content;
}

footer{
    grid-area: footer;
}

.product-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    overflow: hidden;
}
.product-card{
    flex: 0 0 calc(25% - 10px);
    overflow: hidden;
}
.product-container-slider{
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    overflow: hidden;
}
.product-card-slider{
    flex: 0 0 calc(25% - 10px);
    overflow: hidden;
}

.hide-overflow {
    display: none;
}
.product-info{
    margin-left: 2.3rem;
    margin-bottom: 1rem;
}
.product-image img{
    height: 400px;
    width: 250px;
    border: 2px solid black;
}
.big-image img{
    height: 1000px;
    width: 1250px;
    border: 2px solid black;
}

.colour-container{
    display: flex;
    justify-content: flex-start;
}

.small-image img{
    height: 200px;
    width: 100px;
    border: 2px solid black;
    margin-right: -40px;
}

.about-us-pic img{
    height: 600px;
    width: 1250px;
}

.promo-pic img {
    height: 1920px;
    width: 1250px;
}
.breakpoint {
    border-top: 6px solid #FFA500;
    margin: 20px 0;
}

.mobile-nav{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
h1{
    font-size: 60px;
    margin-left: 2.3rem;
}
h2 {
    margin-left: 2.3rem;
    margin-top: 2rem;
}
.bigger-product-brand {
    font-size: 40px;
}
.color-title{
    font-size: 30px;
    margin-left: 2.3rem;
    margin-top: 4rem;
}

.about-us-text{
    display: block;
    margin-left: 2.4rem;
    margin-right: 2.3rem;
}

.mobile-nav li{
    margin-right: 2rem;
    text-decoration-line: underline;
    padding-bottom: 1rem;
}

.mobile-nav a{
    font-size: 40px;
    text-decoration: none;
    color: black;
}
#page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFA500;
    color: black;
}
.filter-container{
    display: flex;
    justify-content:left;
    align-items: center;
    margin-right: 5rem;
    margin-left: 1rem;
    padding-top: 1rem;
}
.picture-container{
    display: none;
}

.filter-container select{
    margin-left: 20px;
    width: 200px;
    height: 40px; 
    padding: 5px;
    color: black;
    background-color: white;
    border: 2px solid black;
}
.velg-størrelse{
    margin-left: 2.3rem;
    width: 1250px;
    height: 30px;
    color: black;
    font-size: 25px;
    background-color: white;
    border: 2px solid black;
}
.add-shoppingcart-container{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
#heart-icon::before {
    margin-left: 1rem;
    color: black;
    font-size: 30px;
}
#heart-icon::after {
    margin-left: 1rem;
    color: red;
    font-size: 30px;
}

.rectangle-button {
    margin-left: 2.3rem;
    width: 1200px;
    height: 30px;
    background-color: black;
    color: white;
    border: none; 
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}


figcaption a {
    color: black;
    text-decoration: none;
}

.logo{
    color: black;
    font-size:50px;
    text-decoration: none;
}
.icons-container{
    display: flex;
    align-items:center;
}
.icons-container i{
    font-size: 40px;
    margin-right: 30px;
}
.search-bar-desktop{
    display: none;
}

.nav-items{
    display: none;
}
@media (min-width: 1000px) {
    #grid-container {
        grid-template-areas:
          "header header header"
          "aside main main"
          "secondary-content secondary-content secondary-content"
          "footer footer footer";
        grid-template-columns: 0.5fr 1.5fr 1fr;
        grid-template-rows: auto;
    }
    .adjust-desktop-left{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .adjust-desktop-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .filter-container{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .filter-container select{
        margin-bottom: 4rem;
        width: 300px;
        height: 40px; 
        padding: 5px;
        color: black;
        background-color: white;
        border: 2px solid black;
    }

    .search-bar-desktop{
        display:flex;
        align-items: center;
        margin-right: 1rem;
    }
    
    .nav-items{
        display: flex;
        text-decoration: none;
    }
    .nav-items {
        display: flex;
        list-style: none;
        margin-bottom: 0; 
        margin-top: 10px; 
    }
    
    .nav-items li {
        margin: 0 8px;
    }
    
    .nav-items a {
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    .product-container-slider{
        display: flex;
        justify-content: flex-start;
        margin-top: 1rem;
        flex-wrap: nowrap;
        overflow: hidden;
    }
    .product-card-slider{
        flex: 0 0 calc(16.66666666666667% - 10px);
        overflow: hidden;
    }
    .picture-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .preview-image img{
        height: 200px;
        width: 120px;
    }
    .promo-pic img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .about-us-pic img{
        height: 600px;
        width: 730;
    }

}